@model IEnumerable<Project_08.Models.Orders>

@{
    ViewData["Title"] = "Index";
}

<h2>Order Index</h2>
<style>
    body {
        background-image: url('../../wwwroot/background/bag_cover1.jpg');
        Background-repeat: no-repeat;
        Background-size: cover;
    }
</style>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.customer.CustomerID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.product.ProductID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalAmount)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.OrderID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.OrderID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.OrderID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
